<script>
    function checkType() {
    var typeField = document.getElementById('TYPE');
    if(typeField.value === '') {
        typeField.style.border = '1px solid red';
        alert('Не определен идентификатор модели');
        return false;
    }
    return true;
}       
</script>
        <h1>Создание модели</h1>
        <form action="createModel" method="post" onsubmit="return checkType();">
            <p><b>Определите параметры создаваемой модели</b></p>
            <p>Идентификатор модели (число)</p>
            <input name='ID' id='TYPE' type='number' size="20">
            <p>
                <select name='TYPE' size="1">
                    <option disabled>Выберите тип классификатора</option>
                    <option value="PRC">Перцептрон</option>
                    <!--option value="MNB">Мультиномиальный Байес</option>
                    <option value="BNB">Байес на распределении Бернулли</option-->
                    <option value="SGD">Статистич. градиент. спад</option>
                    <option value="CRT">Пассивно агрессивный классификатор</option>
                </select>
            </p>
            <button type='submit'>Создать</button>

        </form>
