<!--h1>
    Скачать файл с классифицированным текстом:
</h1>

<a href='/tmp/{{fname}}' download>Скачать</a-->
<p>
    Проходит классификация массива текстов. Сохраните имя файла {{fname}}, 
    чтобы скачать его позже!
</p>
