<script>
	function checkText() {
        var textField = document.getElementById('text');
        if (textField.value === ''){
            textField.style.border = '1px solid red';
            alert('Вы не ввели имя файла');
            return false;
        } 
        return true;
    }
</script>

<form action = "getArray" method = "post" onsubmit="return checkText();"">
    <input type="text" id="text" name="fName">
    <button type='submit'>Получить</button>
</form>
