<script>
	function checkText() {
        var textField = document.getElementById('text');
        if (textField.value === ''){
            textField.style.border = '1px solid red';
            alert('Вы не ввели TOKEN для получения результата!');
            return false;
        } 
        return true;
    }
</script>
<form action='getClass' method='post' onsubmit="return checkText();">
    <p>Введите идентификатор для получения класса введенного вами выражения!</p>
    <input name='token' id='text' type='text'>
    <button type='submit'>Отправить</button>
</form>
