<script>
	function checkText() {
        var textField = document.getElementById('text');
        if (textField.value === ''){
            textField.style.border = '1px solid red';
            alert('Вы не ввели ссылку!');
            return false;
        } 
        return true;
    }
</script>
        <h1>Обучение модели</h1>
        <form action="learnModel" method="post" onsubmit="return checkText();"> 
            <p><b>Укажите ссылку на файл для обучения</b></p>
            <input type='text' id='text' name='URL'>
            <button type='submit'>Загрузить</button>
        </form>
