
        <h1>Добро пожаловать</h1>
        <p>Если вы находитесь на этой странице, значит решили 
            воспользоваться возможностями моделей на базе
            scikit-learn. У вас будет возможность создать и 
            обучить собственную модель, производить классификацию
            текста или массива текстов с ее помощью. Так же вы 
            сможете оценить качество созданной вами модели,
            просмотреть логи обучения. Чтобы приступить к созданию
        модели, нажмите кнопку "Создать модель"</p>
