<script>
	function checkText() {
        var textField = document.getElementById('text');
        if (textField.value === ''){
            textField.style.border = '1px solid red';
            alert('Область выбора пуста. Модели не созданы, либо удалены!');
            return false;
        } 
        return true;
    }
</script>
<form action="selectModel" method="post" onsubmit="return checkText();">
    <p><b>Выберите модель, которую собираетесь использовать.</b></p>
    <select name='ID' id='text' size='1'>
        <option disabled>Выберите идентификатор модели</option>
        {% for id in models%}
        <option value = {{id}}>{{id}}</option>
        {% endfor %}
    </select>
    <button type='submit'>Выбрать</button>
</form>
