<script type="text/javascript">
    function checkText() {
        var textField = document.getElementById('text');
        if (textField.value === ''){
            textField.style.border = '1px solid red';
            alert('Вы не ввели текст для классификации');
            return false;
        } 
        return true;
    }

    function checkFile() {
        var fileField = document.getElementById('URL');
        if(fileField.value === '') {
            alert('Не выбран файл для отправки');
            return false;
        }
        return true;
    }
</script>
<h1>
    Качество работы модели
</h1>
    {% for rep in report %}
        {{rep}}<br>
    {% endfor %}
    <br>
    <table>
        {% for conf in confusion %}
            <tr>
                {% for con in conf %}
                    <td>
                        {{con}}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
<h1>
    Лог обучения:
</h1>
<a href='/log/{{download}}' download>Скачать</a>
<h1>
    Классифицировать текст
</h1>
<form name = 'textToClass' action='textClass' method='post' onsubmit="return checkText();">
    <p>Введите текст для классификации</p>
    <input name='ID' id = 'hid' type='hidden' value='{{id}}'>
    <input name='TEXT' id='text' type='text'>
    <button type='submit'>Отправить</button>
</form>

<h1>
    Классифицировать массив текстов
</h1>
<form action='arrayClass' method='post' enctype='multipart/form-data' onsubmit="return checkFile();">
    <p>Выберите файл, содержащий текст для классификации</p>
    <input name='URL' id='URL' type='FILE' size='20'>
    <button type='submit'>Отправить</button>
</form>
