<div id="top-head" align="center" valign="top">
    <form method='get'>
        <table>
            <tr>
                <td><button type="submit" formaction="/">Главная</button></td>
                <td><button type="submit" formaction="/cModel">Создать модель</button></td>
                <td><button type="submit" formaction="/clModel">Классификация</button></td>
                <td><button type="submit" formaction="/gPred">Получить ответ</button></td>
                <td><button type="submit" formaction="/gArr">Получить файл текстов</button></td>
                <td><button type="submit" formaction="/dModel">Удалить модель</button></td>
            </tr>
        </table>
    </form>
</div>
