<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Python & Scikit-learn Data processing</title>
        <link rel="stylesheet" href="/static/top_head.css">
    </head>
    <body>
        {% include "layers/top_head.html" %}
        {% if body == 'hello' %}
            {% include "layers/main_body.html" %}
        {% elif body == 'cModel' %}
            {% include "layers/create_body.html" %}
        {% elif body == 'existed' %}
            <p>
                Модель с ID = {{ num }} уже существует!
                Создайте модель с новым ID!
            </p>
        {% elif body == 'incorr' %}
            <p>
                Модель с ID = {{ num }} имеет неверный тип {{ typ }}.
                Создайте модель с корректным типом!
            </p>
        {% elif body == 'success' %}
            <p>
                Модель с ID = {{ num }} успешно создана.
            </p>
            {% include "layers/learn_body.html" %}
            {% if wrong == True %}
                <p>
                    Полученный по ссылке файл не содержит обучающих данных. Пожалуйста, введите ссылку на корректный файл!
                </p>
            {% endif %}
        {% elif body == 'Running' %}
            <p>
                Проходит обучение модели. Вы можете перейти к созданию
                новой модели, или к классификации.
            </p>
        {% elif body == 'NotFound' %}
            <p>
                Указанный вами файл не найден. Пожалуйста, введите корректную ссылку
            </p>
            {% include "layers/learn_body.html" %}
        {% elif body == 'chMod' %}
            {% include "layers/model_select.html" %}
        {% elif body == 'done' %}
            {% include "layers/predict.html" %}
        {% elif body == 'dModel' %}
            {% include "layers/deleteModel.html" %}
        {% elif body == 'gotPred' %}
            <p>Классификация данного вами выражения успешно завершена.<br>
               Сохраните себе идентификатор: {{token}}, для получения ответа.
            </p>
        {% elif body == 'getToken' %}
            {% include "layers/getToken.html" %}
        {% elif body == 'class' %}
            <p>Классификация:</p>
            <p>Текст {{text}} определен, как {{class}}</p>
        {% elif body == 'deleted' %}
            <p>Указанная вами модель успешно удалена. Спасибо, что воспользовались нашим сервером классификации.</p>
        {% elif body == 'arClassed' %}
            {% include "layers/getArray.html" %}
        {% elif body == 'isDone' %}
            <p>
                Обучение модели {{ID}} успешно завершено. 
                Вы можете использовать ее для осуществления
                классификации.
            </p>
        {% elif body == 'undef' %}
            <p>
                Просим вас немного подождать. Классификация
                вашего текста еще не завершена.
            </p>
        {% elif body == 'isClear' %}
            <p>
                Обучение модели не произведено
            </p>
        {% elif body == 'getFile' %}
            {% include "layers/getArrayFile.html" %}
        {% elif body == 'notReady' %}
            <p>
                Указанный файл не существует, либо классификация массива еще не завершена. Подождите, пожалуйста!
            </p>
        {% elif body == 'ready' %}
            <h1>
                Скачать файл с классифицированным текстом:
            </h1>
            <a href='/tmp/{{fname}}' download>Скачать</a>
        {% elif body == 'error' %}
            <h1>
                Возникла внутренняя ошибка сервера.
                Скачать лог-файл
            </h1>
            <a href='/log/{{download}}' download>Скачать</a>
        {% elif body == 'nodExisted' %}
            <h1>
                Вы ввели несуществующий TOKEN. Вернитесь на страницу получения результата и введите правильный TOKEN!
            </h1>
        {% endif %}
    </body>
</html>

